@use '../var/variables' as *;

.page-404{
    display:flex;
    align-items: center;
    flex-direction: column;
    gap:100px;
    margin-top: 80px;

    span{
        color: $saumon;
        font-size: 270px;
        font-weight: 700;
        font-family: Montserrat;
    }

    p{
        line-height: 51.34px;
    }

}