.caroussel {
    display: flex;
    overflow: hidden;
    position: relative;
    width: 100%;
    border-radius: 25px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  
    button {
     
      color: white;
      font-size: 80px;
      cursor: pointer;
  
      &:hover {
        transform: scale(1.2);
        transition: 0.3s;
      }
    }
    .caroussel-navigation {
      position: absolute;
      bottom: 140px;
      display: flex;
      justify-content:space-between
     
    }
  
    .caroussel-counter {
      position: absolute; 
      color: white;
      font-weight: 500;
      left: 50%;
      top: 200px;
    }
  }
  
  .caroussel-container {
    display: flex;
    transition: transform 0.4s ease, -webkit-transform 0.4s ease;
  }
 