@use '../var/variables' as *;
@use '../general/typo' as *;

.collapse {
  max-width: 1024px;
  width: 90%;
  margin-left:17%;
  margin-right: 10%;
    
  
    .encadre-collapse h3 {
      color: white;
      background: $saumon;
      font-size: var(--small);
      margin: 0;
      border-radius: 5px;
      font-family: Montserrat;
      font-weight: 400;
      padding: 10px;
      width: 90%;
       
    }

        .encadre-collapse{
            position: relative;
        }
    
  
  
  .reglement {
    
    background-color: $gris;
    color: $saumon;
    cursor: pointer;
    padding: 10px;
    border-radius: 0px 0px 5px 5px;
    width: 90%;
    font-family: Montserrat;
    font-size: var(small);
    font-weight: 400;
}

.fleche{
    display: flex;
    color: rgb(53, 8, 8);
  
    width: 20px;
    height: 11px;
    transform: rotate(0deg);
    position: absolute;
    top: 50%; /* Utilisez 50% pour centrer verticalement */
    left: 86%; /* Utilisez des marges droites pour l'espacement */
    transform: translateY(-50%); /* Ajustez la position verticale */
  }
  .fleche.open {
    transform: rotate(180deg);
  }
  
  
  
  
  
  
  }
  
 

    
      
      
         
    
  
    
    
  
   
  
