@use '../var/variables' as *;

header {
    display: flex;
    padding: 45px 20px 50px 20px;
    align-self: center;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: $max-screen-lg;
    nav {


      ul {
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
        gap: 40px;
        padding-left: 0;
        font-family: Montserrat;
        
      }
  
      li {
        list-style: none;
        a {
          color: $saumon;
          font-size: var(--medium);
          text-decoration: none;
  
          &:hover,
          &.active {
            text-decoration: underline;
          }
        }
      }
    }
  }
  @media (max-width: 767.98px){
    ul{
      gap: 2px;
      padding-left: 20px;
    }
  }