header {
    display: flex;
    max-width: $max-screen-lg;
    padding: 45px 20px 50px 20px;
    align-self: center;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  
    nav {
      ul {
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
        gap: 50px;
      }
  
      li {
        list-style: none;
        a {
          color: $saumon;
          font-size: var(--medium);
          text-decoration: none;
  
          &:hover,
          &.active {
            text-decoration: underline;
          }
        }
      }
    }
  }