/* Desktop */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;1,400;1,500;1,700&display=swap");

:root {
    --small: 18px;
    --medium: 24px;
    --large: 36px;
    --extralarge: 48px;
  }
  
  /* Mobile */
  
  @media (max-width: 767.98px) {
    :root {
      --medium: 13px;
      --large: 18px;
      --extralarge: 24px;
    }
  }